<% provide(:title, 'Home') %>
<%= stylesheet_link_tag    "application-home", media: "all" %>
<div class="MtG_Logo"><%= link_to image_tag("MtG_Logo.jpg", alt: "Magic The Gathering"), 'http://www.wizards.com/magic/' %></div>
<div class="center hero-unit">
  <h1>Welcome to MTG draft!</h1>

  <h2>
    Developed by <a href="http://www.yuchenzhou.com/">Yuchen Zhou</a>
  </h2>
  <hr/>
  <h3>Introduction:</h3>
  <br/>
  <p>This application is completely written in HTML5/JavaScript on client side and Ruby on Rails on server side. Special thanks to Eric Drowell and his awesome Canvas library '<a href="http://www.kineticjs.com/">KineticJS</a>'!</p>
  <p>In this application, you will be able to launch and participate in a draft or sealed event, build your deck and download the decklist. I currently do not provide GUI for gameplay, as <a href="http://cockatrice.de/">Cockatrice</a> is already doing a great job and I would just be reinventing the wheel.</p>
  <hr/>
  <h3>Instructions:</h3>
  <br/>
  <p>After a draft event, this application automatically redirects you to deckbuilding. After you complete your deckbuilding, you will receive your decklist in dec format (cockatrice, MTGO-compatible). As a prerequisite, you need to <span style="color:red"><b>(1)</b></span> download <a href="http://cockatrice.de/index.php?a=download">Cockatrice</a> main program. <span style="color:red"><b>(2)</b></span> (optional) You can sign up at Cockatrice forum to become a registered user (Green icon instead of blue in the game).</p>
  <hr/>
  <p>Note: Originally this draft supports OCTGN deck format. However, this format requires special card ID only to be found in their own DB. Besides, the gameplay program is not responsive and crashes a lot. We decide to move on to Cockatrice, a much better program.</p>
  <% if (!current_user) %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
