*.rbc
*.sassc
*.swp
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/userDeckLists/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*~
Gemfile.lock
/app/assets/images/mtg/sets/*
