<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span1">
    <section>
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <div><%= @user.name %></div>
    </section>
  </aside>
  <% if current_user?(@user) %>
  <%= render 'action_menu' %>
  <% end %>
</div>