<div class="games_list_sidebar_wrapper">
<div class="center"><h4>Games List</h4></div>
<div class="games_list_wrapper">
<form>
<select id="gamelist" size="8"></select>
</form>
</div>
<%= button_to_function "Create a game", "createGame()", :class => "btn btn-medium btn-primary centerbutton" %>
<%= button_to_function "Join selected game", "joinGame()", :class => "btn btn-medium btn-primary centerbutton" %>
<%= button_to_function "Leave game", "leaveGame()", :class => "btn btn-medium btn-primary centerbutton" %>
</div>