<div class="lobby_title_wrapper"><h1>Welcome to the lobby</h1><p>Your connection with lobby is: <%= image_tag("lobby/broken.png", alt: "broken", height: "20px")%></p></div>
<div class="user_list_sidebar_wrapper">
<div class="user_list_wrapper">
<form>
<select id="playerlist" size="8"></select>
</form>
</div>
<div class="center"><h4>User List</h4></div>
</div>