<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Yuchen Zhou
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.yuchenzhou.com/">News</a></li>
    </ul>
  </nav>
</footer>